In [245]:
# import packages
import pandas as pd
import numpy as np

In [246]:
# load in data sets
TMD = pd.read_excel ('CrystalReportViewer.xlsx', engine='openpyxl')
BVD = pd.read_excel ('BV_Title_Report_MD.xlsx', engine='openpyxl')
CISPUB = pd.read_excel ('Sales_Detail_History.xlsx',engine='openpyxl')

# 1. Summarize sales by product Season (not Date Posted), both net units and net dollars.
From what I can tell, the Sales_Detail_History file is the only one that deals with sales of various books. For this question, we only need to look at this data set. The Season, Net Units, and Net Amt are our variables of intrest.

In [247]:
# display first 5 rows
CISPUB.head()

,Whs,ISBN,Bisac Subject Desc,Season,Series,Market Segment Description,ShipTo State,ShipTo Country,Date Posted,Period Posted,Fiscal YYYYMM,Unit Price,Disc Pct,Orig List Price,Net Units,Net Amt
0,1 (Chicago Distribution Center),9782985096512,Poetry | General,S01 (2001 Spring),NaN,Trade Wholesaler,NJ,NaN,2020-02-17,220,202002,13.95,50,13.95,1,6.98
1,1 (Chicago Distribution Center),9782985096512,Poetry | General,S01 (2001 Spring),NaN,Trade Wholesaler,NJ,NaN,2020-02-18,220,202002,13.95,50,13.95,1,6.98
2,1 (Chicago Distribution Center),9782985096512,Poetry | General,S01 (2001 Spring),NaN,Trade Wholesaler,NJ,NaN,2020-07-27,720,202007,13.95,50,13.95,-1,-6.97
3,1 (Chicago Distribution Center),9789903536514,Fiction | General,F17,NaN,Other Individuals,LA,NaN,2020-03-18,320,202003,17.95,0,17.95,1,17.95
4,1 (Chicago Distribution Center),9789903536514,Fiction | General,F17,NaN,Independent Bookstores,NC,NaN,2020-08-19,820,202008,17.95,45,17.95,1,9.87

### In order to summarize sales for each season, we need to group by season and sum up the values in the Net Units and Net Amt column.

In [248]:
# Group by season, sum up Net Units and Net Amt columns
q1 = CISPUB.groupby('Season')[['Net Units','Net Amt']].sum()
q1

                   Net Units   Net Amt
Season
F01 (2001 Fall)            3     20.94
F03 (2003 Fall)           -7   -107.71
F04 (2004 Fall)            2     14.98
F05 (2005 Fall)           20    167.74
F06 (2006 Fall)           12    128.92
F07 (2007 Fall)            1      7.98
F08 (2008 Fall)            5     41.17
F09 (2009 Fall)            5     56.21
F10 (2010 Fall)            5     55.22
F11 (2011 Fall)           22    174.73
F12 (2012 Fall)           77    635.14
F13                       93    812.01
F14                      398   3291.17
F15                       38    339.27
F16                       51    456.16
F17                       28    276.99
F18                     -101   -679.17
F19                      220   2301.49
F20                     2885  29330.27
S01 (2001 Spring)          2     20.94
S02 (2002 Spring)          4     27.92
S03 (2003 Spring)          4     29.92
S04 (2004 Spring)         45    347.20
S05 (2005 Spring)          1      7.48
S06 (2006 Spring)         33    261.69
S07 (2007 Spring)          3     30.53
S08 (2008 Spring)          7     57.38
S09 (2009 Spring)         21    185.62
S10 (2010 Spring)         18    146.68
S11 (2011 Spring)         45    379.27
S12 (2012 Spring)         13    122.96
S13 (2013 Spring)         90    740.05
S14                       40    388.16
S15                      106    871.52
S16                      203   1777.29
S17                      243   2115.71
S18                       71    789.63
S19                      134   1352.69
S20                     6519  59445.43
S95 (1995 Spring)          3     23.92
S97 (1997 Spring)          1      6.48
S98 (1998 Spring)          2     12.96
S99 (1999 Spring)          3     20.44

We can see that the more recent years in general have larger net units and larger net amounts than the years before.

# 2. Summarize sales by month (based on Date Posted) by Format, both net units and net dollars.
This question deals with the Sales_Detail_History as well as the CrystalReportViewer dataset. In the Sales_Detail_History dataset, we need to look at the following variables: ISBN, Date Posted, Net Units, and Net Amt. In the CrystalReportViewer dataset, we need to look at: ISBN13, and Format. In order to answer the question, we will need to perform table merge.

In [249]:
# Remove the '-' string from the CrystalReportViewer dataset so that we can match the primary key for both datasets
TMD['ISBN13'] = TMD['ISBN13'].str.replace('-','').astype(np.int64)
TMD.head()

,ISBN13,BISAC Status,Season,Format,TrimSize,Pages,Series,Discount,US Price,Pub Date,Returns,Restrictions,Product Available
0,9783936582380,Active,Spring 1995,Paperback,6 x 9,88.0,NaN,146TR,11.95,1995-04-01,Returnable,"Yes, full copies only",Available
1,9784890859396,Active,Spring 1995,Paperback,6 x 9,188.0,NaN,146TR,11.95,1995-04-01,Returnable,"Yes, full copies only",Available
2,9788889212672,Active,Spring 1995,Paperback,6 x 9,88.0,NaN,146TR,11.95,1995-04-01,Returnable,"Yes, full copies only",Available
3,9780980914637,Active,Spring 1996,Paperback,6 x 9,72.0,NaN,146TR,11.95,1996-04-01,Returnable,"Yes, full copies only",Available
4,9789918792101,Out of Print Cancel,Spring 1996,Paperback,6 x 9,64.0,NaN,146TR,11.95,1996-04-01,Returnable,"Yes, full copies only",Not Available

In [250]:
# Make a copy of CrystalReportViewer
q2 = TMD
# Merge CrystalReportViewer and Sales_Detail_History using the ISBN as a primary key
q2 = q2.merge(CISPUB, left_on='ISBN13', right_on='ISBN')[['ISBN', 'Format','Date Posted','Net Units','Net Amt']]
q2

               ISBN     Format Date Posted  Net Units  Net Amt
0     9783936582380  Paperback  2020-07-23          1    11.95
1     9784890859396  Paperback  2020-07-16          1     5.98
2     9784890859396  Paperback  2020-07-16          1     5.98
3     9784890859396  Paperback  2020-10-14         -1    -5.97
4     9788889212672  Paperback  2020-07-23          1     5.98
...             ...        ...         ...        ...      ...
6807  9788935115675     E-book  2020-12-24          1     9.12
6808  9788935115675     E-book  2020-12-24          5    46.60
6809  9788935115675     E-book  2020-12-31          1    11.90
6810  9788935115675     E-book  2020-12-24         -1    -9.12
6811  9784920476500     E-book  2020-12-07          1    16.95

[6812 rows x 5 columns]

In [251]:
# Checking if there are any NaN values
q2.isnull().values.any()

False

In [252]:
# Checking types
q2.dtypes

ISBN                    int64
Format                 object
Date Posted    datetime64[ns]
Net Units               int64
Net Amt               float64
dtype: object

In [253]:
# Make a month column
q2['Month'] = q2['Date Posted'].dt.to_period('M')
q2.head()

            ISBN     Format Date Posted  Net Units  Net Amt    Month
0  9783936582380  Paperback  2020-07-23          1    11.95  2020-07
1  9784890859396  Paperback  2020-07-16          1     5.98  2020-07
2  9784890859396  Paperback  2020-07-16          1     5.98  2020-07
3  9784890859396  Paperback  2020-10-14         -1    -5.97  2020-10
4  9788889212672  Paperback  2020-07-23          1     5.98  2020-07

In [254]:
# Group by Format and Month, sum up the Net Units and Net Amt columns
q2.groupby(['Format','Month'])[['Net Units', 'Net Amt']].sum()

                   Net Units   Net Amt
Format    Month
E-book    2020-01          6     53.34
          2020-02          6     53.49
          2020-03         10     79.18
          2020-04          7     65.13
          2020-05         10     88.71
          2020-06         23    214.55
          2020-07         39    404.59
          2020-08         31    256.16
          2020-09         44    419.60
          2020-10         87    902.47
          2020-11         68    688.19
          2020-12         48    453.19
Paperback 2020-01        900   7624.97
          2020-02       1755  15327.55
          2020-03       1160  10971.04
          2020-04        352   3494.32
          2020-05        305   3230.97
          2020-06        -32     23.28
          2020-07        415   3639.28
          2020-08        668   7765.05
          2020-09       2288  21955.39
          2020-10       1513  13679.42
          2020-11       1373  12024.23
          2020-12        292   3071.28

It seems that Paperback books generally move a larger quantity of units than E-books. There's sharp drop in June of 2020, one explaination could be effect of Covid-19 on book sales.

# 3. Summarize by BISAC Status and Format, what are the Paper Text Status and Paper Cover Status? We need to know how many books are ready to be printed onsite.
We need to look at the CrystalReportView and BV_Title_Report_MD files. From the CrystalReportViewer sheet: ISBN13, BISAC Status, and Format variables will be needed. From the BV_Title_Report_MD sheet: Paperback ISBN-13, Paper text status, and Paper Cover status will be needed. Just like in question 2, we will need to perform a table merge.

In [255]:
# BV_Title_Report_MD
BVD.head()

,Author,Paperback ISBN-13,Paper text filesource,Paper text status,Paper text notes,Paper Cover filesource,Paper Cover status,Paper Cover notes,Web cover status,Thumbnail status,Web-ready PDF file status,epub file status,Text application file status,Cover application file status,Auto-print at CDDC
0,Carl Adamshick,'9781970267982,Member Press Submission,Print-ready,"2019-12-31: Unfortunately, BiblioVault has not...",Member Press Submission,Print-ready,NaN,Archived,Archived,NaN,NaN,NaN,NaN,N
1,Carl Adamshick,'9787965035619,Member Press Submission,Print-ready,NaN,Member Press Submission,Print-ready,2021-06-24: Crop marks added by BiblioVault. F...,Archived,Archived,NaN,Awaiting creation,NaN,NaN,N
2,Joan Aleshire,'9788970772500,Member Press Submission,Print-ready,NaN,Member Press Submission,Print-ready,NaN,Archived,Archived,NaN,NaN,NaN,NaN,N
3,Reginald Dwayne Betts,'9787994790645,Member Press Submission,Print-ready,NaN,Member Press Submission,Print-ready,NaN,Archived,Archived,NaN,NaN,NaN,NaN,N
4,Tommye Blount,'9786962752416,Member Press Submission,Print-ready,2020-02-01: Text file list Notes section in TO...,Member Press Submission,Print-ready,2020-11-23: Cover PDF requires marks at the bl...,Archived,Archived,NaN,File ready,NaN,NaN,N

In [256]:
# Remove the apostrophe from the CrystalReportViewer dataset so that we can match the primary key for both datasets
BVD['Paperback ISBN-13'] = BVD['Paperback ISBN-13'].str.replace("'",'').astype(np.int64)
BVD.head(2)

,Author,Paperback ISBN-13,Paper text filesource,Paper text status,Paper text notes,Paper Cover filesource,Paper Cover status,Paper Cover notes,Web cover status,Thumbnail status,Web-ready PDF file status,epub file status,Text application file status,Cover application file status,Auto-print at CDDC
0,Carl Adamshick,9781970267982,Member Press Submission,Print-ready,"2019-12-31: Unfortunately, BiblioVault has not...",Member Press Submission,Print-ready,NaN,Archived,Archived,NaN,NaN,NaN,NaN,N
1,Carl Adamshick,9787965035619,Member Press Submission,Print-ready,NaN,Member Press Submission,Print-ready,2021-06-24: Crop marks added by BiblioVault. F...,Archived,Archived,NaN,Awaiting creation,NaN,NaN,N

In [257]:
# Make a copy of CrystalReportViewer
q3 = TMD
# Merge CrystalReportViewer and Sales_Detail_History using the ISBN as a primary key
q3 = q3.merge(BVD, left_on='ISBN13', right_on='Paperback ISBN-13')[['ISBN13', 'BISAC Status','Format','Paper text status','Paper Cover status']]
q3

           ISBN13 BISAC Status     Format Paper text status Paper Cover status
0   9786884228441       Active  Paperback       Print-ready        Print-ready
1   9782975685032       Active  Paperback       Print-ready        Print-ready
2   9784901693535       Active  Paperback       Print-ready        Print-ready
3   9784919683207       Active  Paperback       Print-ready        Print-ready
4   9783976198677       Active  Paperback       Print-ready        Print-ready
..            ...          ...        ...               ...                ...
82  9787989299004       Active  Paperback       Print-ready        Print-ready
83  9782910781532       Active  Paperback       Print-ready        Print-ready
84  9787902689206       Active  Paperback       Print-ready        Print-ready
85  9785952639685       Active  Paperback       Print-ready        Print-ready
86  9780903209137       Active  Paperback       Print-ready        Print-ready

[87 rows x 5 columns]

In [258]:
# Checking if there are any NaN values
q3.isnull().sum()

ISBN13                0
BISAC Status          0
Format                0
Paper text status     6
Paper Cover status    8
dtype: int64

In [259]:
q3['Paper text status'].value_counts()

Print-ready        79
Files submitted     2
Name: Paper text status, dtype: int64

In [260]:
q3['Paper Cover status'].value_counts()

Print-ready        77
Files submitted     2
Name: Paper Cover status, dtype: int64

It appears that there a a few NaN values in the Paper text status and the Paper Cover Status columns. There are also a few Paper text status and Paper Cover status rows that only have files submitted. If we want to know how many books we have ready to print, we will need the count of rows where both Paper text status and Paper Cover status are eqaul to Print-ready. Also, will fill the NaN values with a placeholder value, it can be assumed that NaN values mean that either the book's Paper text status/Paper Cover status is not ready to be printed.

In [261]:
# fill NaN values with a place holder
q3['Paper text status'].fillna('No Info', inplace = True)
q3['Paper Cover status'].fillna('No Info', inplace = True)

In [262]:
# Checking if there are any NaN values
q3.isnull().values.any()

False

In [263]:
# Group by BISAC Status, Format, Paper text status, Paper Cover status, and get their counts
q3.groupby(['BISAC Status','Format','Paper text status','Paper Cover status']).size().reset_index(name='Count')

  BISAC Status     Format Paper text status Paper Cover status  Count
0       Active      Paper       Print-ready        Print-ready      8
1       Active  Paperback   Files submitted    Files submitted      2
2       Active  Paperback           No Info            No Info      6
3       Active  Paperback       Print-ready            No Info      2
4       Active  Paperback       Print-ready        Print-ready     69

We can see that all of the Paper books in the system are fully Print-ready. 69 Paperback books are fully Print-ready, and 10 that are not print ready or do not have enough information to determine thier readyness. The only BISAC Status for our subset is the Active status, it appears that none of the items listed in the BV_Title_Report_MD files were otherwise.

## 4. Summarize record count by BISAC Subject by Publication year (based on Pub Date).
We need to look at the Sales_Detail_History and CrystalReportView files. From the CrystalReportViewer sheet: ISBN13 and Pub Date variables will be needed. From the Sales_Detail_History sheet: ISBN, Bisac Subject will be needed. Just like in previous questions, we will need to perform a table merge.

In [264]:
# Sales_Detail_History
TMD.head()

,ISBN13,BISAC Status,Season,Format,TrimSize,Pages,Series,Discount,US Price,Pub Date,Returns,Restrictions,Product Available
0,9783936582380,Active,Spring 1995,Paperback,6 x 9,88.0,NaN,146TR,11.95,1995-04-01,Returnable,"Yes, full copies only",Available
1,9784890859396,Active,Spring 1995,Paperback,6 x 9,188.0,NaN,146TR,11.95,1995-04-01,Returnable,"Yes, full copies only",Available
2,9788889212672,Active,Spring 1995,Paperback,6 x 9,88.0,NaN,146TR,11.95,1995-04-01,Returnable,"Yes, full copies only",Available
3,9780980914637,Active,Spring 1996,Paperback,6 x 9,72.0,NaN,146TR,11.95,1996-04-01,Returnable,"Yes, full copies only",Available
4,9789918792101,Out of Print Cancel,Spring 1996,Paperback,6 x 9,64.0,NaN,146TR,11.95,1996-04-01,Returnable,"Yes, full copies only",Not Available

In [265]:
# CrystalReportViewer
CISPUB.head()

,Whs,ISBN,Bisac Subject Desc,Season,Series,Market Segment Description,ShipTo State,ShipTo Country,Date Posted,Period Posted,Fiscal YYYYMM,Unit Price,Disc Pct,Orig List Price,Net Units,Net Amt
0,1 (Chicago Distribution Center),9782985096512,Poetry | General,S01 (2001 Spring),NaN,Trade Wholesaler,NJ,NaN,2020-02-17,220,202002,13.95,50,13.95,1,6.98
1,1 (Chicago Distribution Center),9782985096512,Poetry | General,S01 (2001 Spring),NaN,Trade Wholesaler,NJ,NaN,2020-02-18,220,202002,13.95,50,13.95,1,6.98
2,1 (Chicago Distribution Center),9782985096512,Poetry | General,S01 (2001 Spring),NaN,Trade Wholesaler,NJ,NaN,2020-07-27,720,202007,13.95,50,13.95,-1,-6.97
3,1 (Chicago Distribution Center),9789903536514,Fiction | General,F17,NaN,Other Individuals,LA,NaN,2020-03-18,320,202003,17.95,0,17.95,1,17.95
4,1 (Chicago Distribution Center),9789903536514,Fiction | General,F17,NaN,Independent Bookstores,NC,NaN,2020-08-19,820,202008,17.95,45,17.95,1,9.87

In [266]:
# Make a copy of CrystalReportViewer
q4 = TMD
# Merge CrystalReportViewer and Sales_Detail_History using the ISBN as a primary key
q4 = q4.merge(CISPUB, left_on='ISBN13', right_on='ISBN')[['ISBN', 'Pub Date','Bisac Subject Desc']]
q4

               ISBN   Pub Date                  Bisac Subject Desc
0     9783936582380 1995-04-01                    Poetry | General
1     9784890859396 1995-04-01                    Poetry | General
2     9784890859396 1995-04-01                    Poetry | General
3     9784890859396 1995-04-01                    Poetry | General
4     9788889212672 1995-04-01                    Poetry | General
...             ...        ...                                 ...
6807  9788935115675 2020-03-02                     Poetry | Lgbtq+
6808  9788935115675 2020-03-02                     Poetry | Lgbtq+
6809  9788935115675 2020-03-02                     Poetry | Lgbtq+
6810  9788935115675 2020-03-02                     Poetry | Lgbtq+
6811  9784920476500 2020-10-22  Poetry | American / Asian American

[6812 rows x 3 columns]

In [267]:
# Checking if there are any NaN values
q4.isnull().sum()

ISBN                     0
Pub Date                 0
Bisac Subject Desc    4165
dtype: int64

There are a lot of NaN values for Bisac Subject Desc, this is due to some books haveing no subject description, but having many records of sales. Since we aren't looking at each individuals sales records, we can eliminate the duplicates rows.

In [268]:
# Dropping duplicate rows
q4.drop_duplicates(inplace=True)

In [269]:
# Checking if there are any NaN values
q4.isnull().sum()

ISBN                   0
Pub Date               0
Bisac Subject Desc    21
dtype: int64

Our subset is looking much cleaner after dropping duplicates. We'll replace the remaining NA values with a placeholder.

In [270]:
q4['Bisac Subject Desc'].fillna('No Info', inplace = True)

In [271]:
# Checking Types
q4.dtypes

ISBN                           int64
Pub Date              datetime64[ns]
Bisac Subject Desc            object
dtype: object

In [272]:
# Make a year column
q4['Pub Year'] = q4['Pub Date'].dt.to_period('Y')
q4.head()

            ISBN   Pub Date Bisac Subject Desc Pub Year
0  9783936582380 1995-04-01   Poetry | General     1995
1  9784890859396 1995-04-01   Poetry | General     1995
4  9788889212672 1995-04-01   Poetry | General     1995
5  9787955186131 2010-03-09   Poetry | General     2010
8  9780948051631 1997-04-01   Poetry | General     1997

In [273]:
# Group by Publication Year, and Bisac Subject Desc. Count all the ISBN records that match, and create a new column
q4 = q4.groupby(['Pub Year','Bisac Subject Desc'])['ISBN'].count().reset_index(name="count")
q4

   Pub Year                               Bisac Subject Desc  count
0      1995                                 Poetry | General      3
1      1997                                 Poetry | General      1
2      1998                                 Poetry | General      2
3      1999                                 Poetry | General      2
4      2001                                 Poetry | General      3
5      2002                                 Poetry | General      3
6      2003                                 Poetry | General      5
7      2004                                 Poetry | General      6
8      2005                                 Poetry | General      4
9      2006                                 Poetry | General      5
10     2007                                 Poetry | General      5
11     2008                                Fiction | General      1
12     2008                                 Poetry | General      4
13     2009                                 Poetry | General      7
14     2010                                 Poetry | General      7
15     2011                                 Poetry | General      7
16     2012                                Fiction | General      3
17     2012                                 Poetry | General      9
18     2013                                Fiction | General      1
19     2013               Poetry | American / Asian American      1
20     2013                      Poetry | American / General      1
21     2013            Poetry | American / Hispanic & Latino      1
22     2013                                 Poetry | General      8
23     2014                                Fiction | General      1
24     2014                                 Poetry | General      9
25     2014                                  Poetry | Lgbtq+      1
26     2014                           Poetry | Women Authors      1
27     2015                               Fiction | Literary      1
28     2015                                 Poetry | General      5
29     2015                                  Poetry | Lgbtq+      1
30     2015                           Poetry | Women Authors      8
31     2016                                Fiction | General      2
32     2016                               Fiction | Literary      1
33     2016          Fiction | Short Stories (single author)      1
34     2016                                 Poetry | General     13
35     2016                                  Poetry | Lgbtq+      1
36     2017                                Fiction | General      6
37     2017                                 Poetry | General     13
38     2018                                Fiction | General      4
39     2018                                 Poetry | General     15
40     2019                              Fiction | Political      2
41     2019                                          No Info      7
42     2019     Poetry | American / African American & Black      1
43     2019                                  Poetry | Lgbtq+      3
44     2019  Poetry | Subjects & Themes / Death, Grief, Loss      2
45     2019              Poetry | Subjects & Themes / Nature      1
46     2019                           Poetry | Women Authors      3
47     2020                                          No Info     14
48     2020     Poetry | American / African American & Black      3
49     2020               Poetry | American / Asian American      2
50     2020                      Poetry | American / General      1
51     2020                                  Poetry | Lgbtq+      1
52     2020                           Poetry | Women Authors      3

In [277]:
q4['Bisac Subject Desc'].value_counts()

Poetry | General                                   22
Fiction | General                                   7
Poetry | Lgbtq+                                     5
Poetry | Women Authors                              4
Poetry | American / African American & Black        2
Poetry | American / General                         2
Fiction | Literary                                  2
Poetry | American / Asian American                  2
No Info                                             2
Fiction | Short Stories (single author)             1
Poetry | American / Hispanic & Latino               1
Fiction | Political                                 1
Poetry | Subjects & Themes / Death, Grief, Loss     1
Poetry | Subjects & Themes / Nature                 1
Name: Bisac Subject Desc, dtype: int64

In [284]:
# Largest value in count column
print(q4['count'].max())
# Row where count is at its maximum value
print(q4.loc[q4['count'].argmax()])

15
Pub Year                          2018
Bisac Subject Desc    Poetry | General
count                               15
Name: 39, dtype: object

The most published category in our subset overall was Poetry | General. The maximum books published in a year was 15, in the Poetry | General category in 2018.

## 5. Tell us anything else interesting that you find in the data. 
Each one on these datasets contained a slightly different way that they represented the ISBN number. Before I could merge datasets, I had to standardize those columns so that I would have an indentifier for each of the rows in a dataset. 

Occasionally there are missing values in a dataset, more specifically, in question 3 I had to insert place holder values if NaN values were discovered. It could be problematic in the production if NaN values are found, and may require some inference to fix those issures.

Lets take a look at each dataset one at a time.

### Title Managment Database - CrystaLReportViewer

In [294]:
TMD

,ISBN13,BISAC Status,Season,Format,TrimSize,Pages,Series,Discount,US Price,Pub Date,Returns,Restrictions,Product Available
0,9783936582380,Active,Spring 1995,Paperback,6 x 9,88.0,NaN,146TR,11.95,1995-04-01,Returnable,"Yes, full copies only",Available
1,9784890859396,Active,Spring 1995,Paperback,6 x 9,188.0,NaN,146TR,11.95,1995-04-01,Returnable,"Yes, full copies only",Available
2,9788889212672,Active,Spring 1995,Paperback,6 x 9,88.0,NaN,146TR,11.95,1995-04-01,Returnable,"Yes, full copies only",Available
3,9780980914637,Active,Spring 1996,Paperback,6 x 9,72.0,NaN,146TR,11.95,1996-04-01,Returnable,"Yes, full copies only",Available
4,9789918792101,Out of Print Cancel,Spring 1996,Paperback,6 x 9,64.0,NaN,146TR,11.95,1996-04-01,Returnable,"Yes, full copies only",Not Available
...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,9787902689206,Active,Fall 2021,Paperback,6 x 9,96.0,Stahlecker Selections,146TR,16.95,2021-09-15,Returnable,"Yes, full copies only",Available
288,9785952639685,Active,Fall 2021,Paperback,6 x 9,136.0,Four Way Books Levis Prize in Poetry,146TR,16.95,2021-09-15,Returnable,"Yes, full copies only",Available
289,9780903209137,Active,Fall 2021,Paperback,6 x 9,176.0,NaN,146TR,19.95,2021-09-15,Returnable,"Yes, full copies only",Available
290,9789927793148,Active,Fall 2021,E-book,6 x 9,116.0,NaN,146TR,16.95,2021-09-15,Returnable,"Yes, full copies only",Available
291,9782949486848,Active,Fall 2021,E-book,6 x 9,102.0,NaN,146TR,16.95,2021-09-15,NaN,NaN,Available

In [295]:
TMD.isnull().sum()

ISBN13                 0
BISAC Status           0
Season                 7
Format                 0
TrimSize              18
Pages                  8
Series               208
Discount               0
US Price               0
Pub Date               0
Returns                1
Restrictions           1
Product Available      0
dtype: int64

In [300]:
# Display NaN rows for the season column
is_NaN = TMD[['Season']].isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = TMD[row_has_NaN]
rows_with_NaN

,ISBN13,BISAC Status,Season,Format,TrimSize,Pages,Series,Discount,US Price,Pub Date,Returns,Restrictions,Product Available
273,9787983627347,Active,NaN,E-book,NaN,NaN,NaN,146TR,16.95,2021-02-15,Returnable,"Yes, full copies only",Available
274,9787937739775,Active,NaN,E-book,NaN,NaN,NaN,146TR,16.95,2021-02-15,Returnable,"Yes, full copies only",Available
275,9789967225720,Active,NaN,E-book,NaN,NaN,NaN,146TR,16.95,2021-02-15,Returnable,"Yes, full copies only",Available
276,9789946396579,Active,NaN,E-book,NaN,NaN,NaN,146TR,16.95,2021-02-15,Returnable,"Yes, full copies only",Available
278,9783950486597,Active,NaN,E-book,NaN,NaN,NaN,146TR,16.95,2021-02-15,Returnable,"Yes, full copies only",Available
279,9789894368700,Active,NaN,E-book,NaN,NaN,NaN,146TR,16.95,2021-02-15,Returnable,"Yes, full copies only",Available
280,9789902216847,Active,NaN,E-book,NaN,NaN,NaN,146TR,16.95,2021-02-15,Returnable,"Yes, full copies only",Available

In [302]:
# Display NaN rows for TrimSize and Pages
is_NaN = TMD[['TrimSize','Pages']].isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = TMD[row_has_NaN]
rows_with_NaN

,ISBN13,BISAC Status,Season,Format,TrimSize,Pages,Series,Discount,US Price,Pub Date,Returns,Restrictions,Product Available
248,9784886164118,Active,Fall 2020,Paperback,NaN,88.0,NaN,146TR,16.95,2020-09-08,Returnable,"Yes, full copies only",Available
251,9784927583373,Active,Spring 2020,E-book,NaN,80.0,NaN,146TR,16.95,2020-03-02,Returnable,"Yes, full copies only",Available
254,9781937841276,Active,Spring 2020,E-book,NaN,134.0,NaN,146TR,16.95,2020-03-02,Returnable,"Yes, full copies only",Available
258,9788935115675,Active,Spring 2020,E-book,NaN,152.0,Stahlecker Selections,146TR,16.95,2020-03-02,Returnable,"Yes, full copies only",Available
267,9784920476500,Active,Fall 2020,E-book,NaN,152.0,NaN,146TR,16.95,2020-10-22,Returnable,"Yes, full copies only",Available
268,9781964951190,Active,Fall 2020,E-book,NaN,72.0,NaN,146TR,16.95,2020-10-22,Returnable,"Yes, full copies only",Available
269,9786996580095,Active,Fall 2020,E-book,NaN,150.0,NaN,146TR,16.95,2020-10-22,Returnable,"Yes, full copies only",Available
270,9783964688802,Active,Fall 2020,E-book,NaN,80.0,NaN,146TR,16.95,2020-10-22,Returnable,"Yes, full copies only",Available
271,9784997317287,Active,Fall 2020,E-book,NaN,134.0,NaN,146TR,19.95,2020-10-22,Returnable,"Yes, full copies only",Available
272,9786940507833,Active,Fall 2020,E-book,NaN,88.0,NaN,146TR,16.95,2020-10-22,Returnable,"Yes, full copies only",Available
273,9787983627347,Active,NaN,E-book,NaN,NaN,NaN,146TR,16.95,2021-02-15,Returnable,"Yes, full copies only",Available
274,9787937739775,Active,NaN,E-book,NaN,NaN,NaN,146TR,16.95,2021-02-15,Returnable,"Yes, full copies only",Available
275,9789967225720,Active,NaN,E-book,NaN,NaN,NaN,146TR,16.95,2021-02-15,Returnable,"Yes, full copies only",Available
276,9789946396579,Active,NaN,E-book,NaN,NaN,NaN,146TR,16.95,2021-02-15,Returnable,"Yes, full copies only",Available
277,9789992358951,Active,Spring 2021,E-book,NaN,NaN,NaN,146TR,16.95,2021-02-15,Returnable,"Yes, full copies only",Available
278,9783950486597,Active,NaN,E-book,NaN,NaN,NaN,146TR,16.95,2021-02-15,Returnable,"Yes, full copies only",Available
279,9789894368700,Active,NaN,E-book,NaN,NaN,NaN,146TR,16.95,2021-02-15,Returnable,"Yes, full copies only",Available
280,9789902216847,Active,NaN,E-book,NaN,NaN,NaN,146TR,16.95,2021-02-15,Returnable,"Yes, full copies only",Available

Not sure what happened here, but the 7 NaN values for the Season column should be 'Spring 2021'. For the other NaN values (TrimSize, Pages Series, Returns, Restrictions) not much other information can be derived easily/accurately to fill these values in.

### Biblio Vault Database - BV_Title_Report_MD

In [289]:
BVD

,Author,Paperback ISBN-13,Paper text filesource,Paper text status,Paper text notes,Paper Cover filesource,Paper Cover status,Paper Cover notes,Web cover status,Thumbnail status,Web-ready PDF file status,epub file status,Text application file status,Cover application file status,Auto-print at CDDC
0,Carl Adamshick,9781970267982,Member Press Submission,Print-ready,"2019-12-31: Unfortunately, BiblioVault has not...",Member Press Submission,Print-ready,NaN,Archived,Archived,NaN,NaN,NaN,NaN,N
1,Carl Adamshick,9787965035619,Member Press Submission,Print-ready,NaN,Member Press Submission,Print-ready,2021-06-24: Crop marks added by BiblioVault. F...,Archived,Archived,NaN,Awaiting creation,NaN,NaN,N
2,Joan Aleshire,9788970772500,Member Press Submission,Print-ready,NaN,Member Press Submission,Print-ready,NaN,Archived,Archived,NaN,NaN,NaN,NaN,N
3,Reginald Dwayne Betts,9787994790645,Member Press Submission,Print-ready,NaN,Member Press Submission,Print-ready,NaN,Archived,Archived,NaN,NaN,NaN,NaN,N
4,Tommye Blount,9786962752416,Member Press Submission,Print-ready,2020-02-01: Text file list Notes section in TO...,Member Press Submission,Print-ready,2020-11-23: Cover PDF requires marks at the bl...,Archived,Archived,NaN,File ready,NaN,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,Allison Benis White,9786999932322,Member Press Submission,Print-ready,2020-08-17: NO text file was received. Please ...,Member Press Submission,Print-ready,NaN,Archived,Archived,NaN,NaN,NaN,NaN,N
83,Bruce Willard,9782910781532,Member Press Submission,Print-ready,NaN,Member Press Submission,Print-ready,NaN,Archived,Archived,NaN,Awaiting creation,NaN,NaN,N
84,C. Dale Young,9780931471568,NaN,NaN,NaN,NaN,NaN,NaN,Archived,Archived,File ready,File ready,NaN,NaN,N
85,C. Dale Young,9788902717381,Member Press Submission,Print-ready,NaN,Member Press Submission,Print-ready,2020-12-17: Completed cover set up. Please rev...,Archived,Archived,NaN,File ready,NaN,NaN,N
86,C. Dale Young,9780918222851,Member Press Submission,Files submitted,NaN,Member Press Submission,Files submitted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

In [303]:
BVD.isnull().sum()

Author                            0
Paperback ISBN-13                 0
Paper text filesource             6
Paper text status                 6
Paper text notes                 68
Paper Cover filesource            8
Paper Cover status                8
Paper Cover notes                50
Web cover status                  3
Thumbnail status                  3
Web-ready PDF file status        76
epub file status                 44
Text application file status     87
Cover application file status    87
Auto-print at CDDC                0
dtype: int64

As addressed in question 3, there are a few important values in the Paper text status and Paper Cover status column that are NaN. There are also a large number of NaN values in other columns as well. I think the best approach in this case would be to take in these NaN values into account when running queries, and set appropriate placeholder vlaues for them.

In [290]:
CISPUB

,Whs,ISBN,Bisac Subject Desc,Season,Series,Market Segment Description,ShipTo State,ShipTo Country,Date Posted,Period Posted,Fiscal YYYYMM,Unit Price,Disc Pct,Orig List Price,Net Units,Net Amt
0,1 (Chicago Distribution Center),9782985096512,Poetry | General,S01 (2001 Spring),NaN,Trade Wholesaler,NJ,NaN,2020-02-17,220,202002,13.95,50,13.95,1,6.98
1,1 (Chicago Distribution Center),9782985096512,Poetry | General,S01 (2001 Spring),NaN,Trade Wholesaler,NJ,NaN,2020-02-18,220,202002,13.95,50,13.95,1,6.98
2,1 (Chicago Distribution Center),9782985096512,Poetry | General,S01 (2001 Spring),NaN,Trade Wholesaler,NJ,NaN,2020-07-27,720,202007,13.95,50,13.95,-1,-6.97
3,1 (Chicago Distribution Center),9789903536514,Fiction | General,F17,NaN,Other Individuals,LA,NaN,2020-03-18,320,202003,17.95,0,17.95,1,17.95
4,1 (Chicago Distribution Center),9789903536514,Fiction | General,F17,NaN,Independent Bookstores,NC,NaN,2020-08-19,820,202008,17.95,45,17.95,1,9.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6807,1 (Chicago Distribution Center),9784886164118,NaN,F20,NaN,Other Individuals,VA,NaN,2020-08-31,820,202008,10.00,0,16.95,1,10.00
6808,1 (Chicago Distribution Center),9784886164118,NaN,F20,NaN,Other Individuals,VA,NaN,2020-08-31,820,202008,10.00,0,16.95,1,10.00
6809,1 (Chicago Distribution Center),9784886164118,NaN,F20,NaN,Other Individuals,TX,NaN,2020-08-31,820,202008,16.95,0,16.95,1,16.95
6810,1 (Chicago Distribution Center),9784886164118,NaN,F20,NaN,Specialty Retail Stores,WI,NaN,2020-10-27,1020,202010,16.95,45,16.95,-2,-18.64
6811,1 (Chicago Distribution Center),9784886164118,NaN,F20,NaN,Trade Wholesaler,PA,NaN,2020-12-14,1220,202012,16.95,50,16.95,-1,-8.47

In [304]:
CISPUB.isnull().sum()

Whs                              0
ISBN                             0
Bisac Subject Desc            4165
Season                           0
Series                        4018
Market Segment Description       0
ShipTo State                    25
ShipTo Country                6751
Date Posted                      0
Period Posted                    0
Fiscal YYYYMM                    0
Unit Price                       0
Disc Pct                         0
Orig List Price                  0
Net Units                        0
Net Amt                          0
dtype: int64

Argueable one of our more complete sets of data. In this dataset, ISBN numbers are not unqiue and there does not seem to be a unique identifier for each row besides the row index number. As we saw in question 4, if an ISBN number is duplicated, the NaN rows will carry over to another entry. We have to deal with NaNs on a case-by-case basis when using this set of data.